app-navbar{
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .upload-button{
    position: fixed;
    top:90%;
    right:1%;
    background-color: #31708f;
    color: white;
}
.loadingSpinner{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}